/* Général */
* {
    padding: 0;
    margin: 0;
    color: #746250;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    scroll-behavior: smooth;
}

ul,
a {
    list-style: none;
    text-decoration: none;
}

/* Accueil */
nav {
    background-color: rgb(250, 250, 250, 0.4);
    display: flex;
    text-align: center;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
}

nav a {
    text-decoration: none;
    margin: 0px 10px;
    padding: 5px;
}

nav a.active {
    color: white;
    background: #746250;
    border-radius: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.accueil {
    background-image: linear-gradient(transparent, #E0D5CB), url('images/bannertry_03.png');
    background-size: cover;
}

.presentation {
    padding: 300px;
    text-align: center;
}

.presentation img {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.presentation .prenom {
    padding: 40px;
}

/* Informations */
.informations {
    background: linear-gradient(#E0D5CB, #E4DAD2);
    text-align: center;
    padding: 400px;
    position: relative;
    z-index: 1;
}

.informations .main-text {
    border-top: 3px solid white;
    position: absolute;
    color: #CDC1B4;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 3;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
}

.informations .second-text {
    position: absolute;
    color: #EAEAEA;
    opacity: 0.6;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    z-index: 2;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.informations input[type=button] {
    color: #E4DAD2;
    background-color: #B3A99E;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 50px;
}

/* Compétences */
.competences {
    background: linear-gradient(#E4DAD2, #E8E0D8);
    text-align: center;
    padding: 300px;
    position: relative;
}

.competences .main-text {
    border-top: 3px solid white;
    position: absolute;
    color: #C0B1A2;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 2;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
}

.competences .second-text {
    position: absolute;
    color: #E4E4E4;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    z-index: 1;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.competences .hard-skills {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.competences .front-end img,
.competences .back-end img {
    padding: 20px 5px;
}

.competences .soft-skills li {
    padding-top: 10px;
}

.competences .soft-skills li img {
    padding-right: 10px;
}

/* Parcours */
.parcours {
    background: linear-gradient(#E8E0D8, #ECE5DF);
    text-align: center;
    padding: 400px;
    position: relative;
}

.parcours .main-text {
    border-top: 3px solid white;
    position: absolute;
    color: #B3A18F;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 2;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
}

.parcours .second-text {
    position: absolute;
    color: #D9D9D9;
    opacity: 0.6;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    z-index: 1;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.parcours img {
    height: 100px;
    width: 450px;
    padding-bottom: 25px;
}

/* Projets */
.projets {
    background: linear-gradient(#ECE5DF, #EFEAE5);
    text-align: center;
    padding: 500px;
    position: relative;
    /* display: flex; */
    justify-content: space-around;
}

.projets .main-text {
    border-top: 3px solid white;
    position: absolute;
    color: #A7927D;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 2;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
}

.projets .second-text {
    position: absolute;
    color: #D9D9D9;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    z-index: 1;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.grid-projet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}

.vignette {
    justify-content: center;
    border: 1px solid white;
    margin: 10px;
    padding: 50px;
    position: relative;
}

.vignette h3 {
    padding-bottom: 15px;
}

.vignette img {
    height: 200px;
    width: 350px;
    padding: 10px;
}

.overlay {
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.5s ease;
    height: 363px;
    width: 470px;
    top: 0;
    left: 0px;
    background-color: white;
    opacity: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.overlay p {
    font-size: 18px;
}

.overlay button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #746250;
    color: white;
    cursor: pointer;
}

.tablette-mobile {
    display: none;
}

.vignette:hover img,
.vignette:hover h3 {
    transition: 0.5s ease;
    opacity: 0;
}

.vignette:hover .overlay {
    opacity: 0.5;
}

#tweet-academy-popup,
#my-cinema-popup,
#chatterie-popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(116, 98, 80, 0.3);
    display: none;
}

#tweet-academy-popup.open,
#my-cinema-popup.open,
#chatterie-popup.open {
    display: block !important;
}

.tweet-popup-content,
.cinema-popup-content,
.chat-popup-content {
    width: 80%;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgb(220, 216, 211);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tweet-popup-content h1 {
    padding-bottom: 20px;
}

.popup-exit {
    position: absolute;
    top: -5px;
    right: -5px;
    text-decoration: none;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
}

.grid-popup {
    display: grid;
    grid-template-columns: 1fr;
}

.grid-popup img {
    height: 425px;
    width: 700px;
}

.informations-popup h5 {
    padding-bottom: 10px;
    text-decoration: underline;
}

.informations-popup span {
    text-decoration: underline;
}

/* Contact */
.contact {
    background: linear-gradient(#EFEAE5, #F3EFEC);
    text-align: center;
    padding: 400px;
    position: relative;
}

.contact .main-text {
    border-top: 3px solid white;
    position: absolute;
    color: #9A826A;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    z-index: 2;
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 400;
}

.contact .second-text {
    position: absolute;
    color: #D4D4D4;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 6em;
    z-index: 1;
    font-family: "Monoton", sans-serif;
    font-weight: 400;
}

.formulaire-contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid white;
    border-radius: 5px;
    padding: 100px;
}

.name-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 15px;
}

.mail-contact {
    grid-column-start: 2;
    grid-column-end: 4;
    padding: 15px;
}

.message-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 15px;
}

.submit-contact {
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 20px;
}

.formulaire-contact input[type=text]::placeholder,
.formulaire-contact input[type=mail]::placeholder {
    color: #746250;
}

.formulaire-contact input[type=text],
.formulaire-contact input[type=mail] {
    border-width: 0px 0px 1px 0px;
    background-color: rgb(250, 250, 250, 0);
    width: 100%;
    outline: none;
}

.formulaire-contact input[type=submit] {
    background-color: #746250;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* Copyright */
.copyright {
    background: linear-gradient(#F3EFEC, #F7F5F2);
    text-align: center;
    padding: 10px;
    border-top: 1px solid white;
}

.copyright p {
    font-size: 15px;
}

.copyright img {
    padding: 15px 5px;
}

/* Ordinateur portable */
@media (min-width: 769px) and (max-width: 1024px) {
    * {
        font-size: 15px;
    }

    .informations,
    .competences,
    .parcours,
    .projets,
    .contact {
        padding: 200px 100px;
    }

    .informations .main-text,
    .competences .main-text,
    .parcours .main-text,
    .projets .main-text,
    .contact .main-text {
        font-size: 3em;
    }

    .informations .second-text,
    .competences .second-text,
    .parcours .second-text,
    .projets .second-text,
    .contact .second-text {
        font-size: 3em;
    }

    .grid-projet {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .vignette {
        justify-content: center;
        border: 1px solid white;
        margin: 10px;
        padding: 50px;
        position: relative;
    }

    .vignette h3 {
        padding-bottom: 15px;
    }

    .vignette img {
        height: 200px;
        width: 350px;
        padding: 10px;
    }

    .overlay {
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s ease;
        height: 358px;
        width: 803px;
        top: 0;
        left: 0px;
        background-color: white;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    #tweet-popup-content {
        width: 80%;
        height: 80%;
    }

}


/* Tablette */
@media (min-width: 426px) and (max-width: 768px) {
    * {
        font-size: 15px;
    }

    .presentation,
    .informations,
    .competences,
    .informations,
    .parcours,
    .projets,
    .contact {
        padding: 150px 50px;
    }

    .informations .main-text,
    .competences .main-text,
    .parcours .main-text,
    .projets .main-text,
    .contact .main-text {
        font-size: 2em;
    }

    .informations .second-text,
    .competences .second-text,
    .parcours .second-text,
    .projets .second-text,
    .contact .second-text {
        font-size: 3em;
    }

    .presentation img {
        height: 200px;
        width: 200px;
        border-radius: 50%;
    }

    .presentation .prenom {
        padding: 40px;
    }

    .grid-projet {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .vignette {
        justify-content: center;
        border: 1px solid white;
        margin: 10px;
        padding: 50px;
        position: relative;
    }

    .vignette h3 {
        padding-bottom: 15px;
    }

    .vignette img {
        height: 200px;
        width: 350px;
        padding: 10px;
    }

    .overlay {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s ease;
        height: 358px;
        width: 627px;
        top: 0;
        left: 0px;
        background-color: white;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .overlay button {
        display: none;
    }

    .tablette-mobile {
        display: flex;
    }
}

/* Mobile L */
@media (min-width: 376px) and (max-width: 425px) {
    * {
        font-size: 10px;
    }

    .presentation,
    .competences,
    .informations,
    .parcours,
    .projets,
    .contact {
        padding: 75px 25px;
    }

    .informations .main-text,
    .competences .main-text,
    .parcours .main-text,
    .projets .main-text,
    .contact .main-text {
        font-size: 2em;
    }

    .informations .second-text,
    .competences .second-text,
    .parcours .second-text,
    .projets .second-text,
    .contact .second-text {
        display: none;
    }

    .presentation img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .presentation .prenom {
        padding: 20px;
    }

    .competences .hard-skills {
        display: block;
        align-items: center;
    }

    .parcours img {
        height: 25px;
        width: 125px;
    }

    .grid-projet {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .vignette {
        justify-content: center;
        border: 1px solid white;
        margin: 10px;
        padding: 50px;
        position: relative;
    }

    .vignette h3 {
        padding-bottom: 15px;
    }

    .vignette img {
        height: 100px;
        width: 200px;
        padding: 10px;
    }

    .overlay {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s ease;
        height: 250px;
        width: 334px;
        top: 0;
        left: 0px;
        background-color: white;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .overlay p {
        font-size: 15px;
    }

    .overlay button {
        display: none;
    }

    .tablette-mobile {
        display: flex;
    }

}

/* Mobile M */
@media (min-width: 321px) and (max-width: 375px) {
    * {
        font-size: 10px;
    }

    .presentation,
    .competences,
    .informations,
    .parcours,
    .projets,
    .contact {
        padding: 70px 20px;
    }

    .parcours img {
        height: 5px;
        width: 10px;
    }

    .informations .main-text,
    .competences .main-text,
    .parcours .main-text,
    .projets .main-text,
    .contact .main-text {
        font-size: 2em;
    }

    .informations .second-text,
    .competences .second-text,
    .parcours .second-text,
    .projets .second-text,
    .contact .second-text {
        display: none;
    }

    .presentation img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
    }

    .presentation .prenom {
        padding: 20px;
    }

    .competences .hard-skills {
        display: block;
        align-items: center;
    }

    .parcours img {
        height: 25px;
        width: 125px;
    }

    .grid-projet {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .vignette {
        justify-content: center;
        border: 1px solid white;
        margin: 10px;
        padding: 50px;
        position: relative;
    }

    .vignette h3 {
        padding-bottom: 15px;
    }

    .vignette img {
        height: 100px;
        width: 200px;
        padding: 10px;
    }

    .overlay {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s ease;
        height: 250px;
        width: 300px;
        top: 0;
        left: 0px;
        background-color: white;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .overlay p {
        font-size: 13px;
    }

    .overlay button {
        display: none;
    }

    .tablette-mobile {
        display: flex;
    }
}

/* Mobile S */
@media (max-width: 320px) {
    * {
        font-size: 10px;
    }

    .presentation,
    .competences,
    .informations,
    .parcours,
    .projets,
    .contact {
        padding: 65px 20px;
    }

    .parcours img {
        height: 25px;
        width: 125px;
    }

    .informations .main-text,
    .competences .main-text,
    .parcours .main-text,
    .projets .main-text,
    .contact .main-text {
        font-size: 2em;
        border-top: 0.5px solid white;
    }

    .competences .main-text {
        margin: -20px 0px;
    }

    .projets .main-text {
        margin: -80px 0px;
    }

    .informations .second-text,
    .competences .second-text,
    .parcours .second-text,
    .projets .second-text,
    .contact .second-text {
        display: none;
    }

    .presentation img {
        height: 100px;
        width: 100px;
        border-radius: 50%;
    }

    .presentation .prenom {
        padding: 20px;
    }

    .competences .hard-skills {
        display: block;
        align-items: center;
    }

    .grid-projet {
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .vignette {
        justify-content: center;
        border: 1px solid white;
        margin: 10px;
        padding: 50px;
        position: relative;
    }

    .vignette h3 {
        padding-bottom: 15px;
    }

    .vignette img {
        height: 70px;
        width: 170px;
        padding: 10px;
    }

    .overlay {
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        position: absolute;
        transition: 0.5s ease;
        height: 220px;
        width: 270px;
        top: 0;
        left: 0px;
        background-color: white;
        opacity: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .overlay p {
        font-size: 10px;
    }

    .overlay button {
        display: none;
    }
    
    .tablette-mobile {
        display: flex;
        flex-direction: column;
    }

    .formulaire-contact {
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    /* Copyright */
    .copyright p {
        font-size: 5px;
    }
    
    .copyright img {
        padding: 2px 2px;
    }
}